anyio==3.6.2
asgiref==3.4.1
async==0.6.2
attrs==22.2.0
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
commonmark==0.9.1
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.83.0
h11==0.13.0
idna==3.7
immutables==0.19
importlib-metadata==4.8.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.2
Pygments==2.14.0
pyparsing==3.1.2
pytest==7.0.1
requests==2.27.1
rich==12.6.0
rich-click==1.2.1
sniffio==1.2.0
starlette==0.19.1
tomli==1.2.3
typing==3.7.4.3
typing_extensions==4.1.1
urllib3==1.26.18
uvicorn==0.16.0
zipp==3.6.0